<div class="container formulario">
    <h1>Editar Libro</h1>
    <br>
</div>

<div class="container formulario">
    <form action="../mibiblioteca.html" id="formeditarlibro">
        <div class="mb-3">
            <label for="nuevotitulo" class="form-label">titulo...</label>
            <input type="text" class="form-control" id="nuevotitulo" placeholder="">
        </div>
        <div class="mb-3">
            <label for="nuevoautor" class="form-label">autor...</label>
            <input type="text" class="form-control" id="nuevoautor" placeholder="">
        </div>
        <div class="mb-3">
            <label for="nuevoeditorial" class="form-label">editorial...</label>
            <input type="text" class="form-control" id="nuevoeditorial" placeholder="">
        </div>
        <div class="mb-3">
            <label for="nuevoresenia" class="form-label">nueva reseña...</label>
            <textarea class="form-control" id="nuevoresenia" placeholder="...escribe tu reseña...">
            </div>
            
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">actualizar</button>
            </div>
        </form>
    </div>