

<div class="container tabladelibros" id="tablatodos">
    <div class="row">
      <div class="col-10">
        <h2>Mis Libros</h2>
      </div>
      <div class="col-2">
        <img src="/images/close_icon.png" alt="cerrar" class="icono" id="btncerrartablatodos">
      </div>
    </div>


    <div id="tabladetodos">

    </div>
   
    <div>
      <table class="table table-secondary">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Titulo</th>
            <th scope="col">Autor</th>
            <th scope="col">Editorial</th>
            <th scope="col">Prestar</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody id="filalibros">
  
        </tbody>
      </table>
    </div>  

</div>
    


    
  