<div class="container tabladelibros" id="tablaprestados">
    <div class="row">
      <div class="col-10">
        <h2>Mis Libros Prestados</h2>
      </div>
      <div class="col-2">
        <img src="/images/close_icon.png" alt="cerrar" class="icono" id="btncerrar">
      </div>
    </div>
      
      <table class="table table-secondary">
        <thead>
          <tr>
            
            <th scope="col">Titulo</th>
            <th scope="col">Autor</th>
            <th scope="col">Editorial</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody id="filalibrosprestados">
  
        </tbody>
      </table>
    </div>