<div class="container formulario">
    <h1>Nuevo Libro</h1>
    <br>
</div>

<div class="container formulario">
    <form action="mibiblioteca.html" id="formnuevolibro">
        <div class="mb-3">
            <label for="nuevotitulo" class="form-label">titulo...</label>
            <input type="text" class="form-control" id="nuevotitulo" placeholder="Rayuela" required>
        </div>
        <div class="mb-3">
            <label for="nuevoautor" class="form-label">autor...</label>
            <input type="text" class="form-control" id="nuevoautor" placeholder="Julio Cortázar" required>
        </div>
        <div class="mb-3">
            <label for="nuevoeditorial" class="form-label">editorial...</label>
            <input type="text" class="form-control" id="nuevoeditorial" placeholder="Una Editorial" required>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">guardar</button>
        </div>
    </form>
</div>